
.App {

    text-align: left;

}

.TableTitle {

    background-color: #282c34;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;

}

.BackToMain {

    color: white;
    font-size: large;
    position: absolute;
    overflow: hidden;
    left: 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.BackToMain:hover {

    opacity: 0.75;

}
.BackToMain:active {

    opacity: 0.5;

}

.Table-item {

    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: white;
    box-sizing: border-box;
    border: 5px solid transparent;

}

.Table-item.halfWidth {

    width: 50%;
    display: inline-block;
    vertical-align: top;

}

.Table-item img {

    width: 100vw;
    height: 56vw;

}

.Table-item.halfWidth img {

    width: 50vw;
    height: 28vw;

}

.Table-item h3 {

    margin-left: 10px;
    margin-right: 10px;

}

.ArticleView * {

    margin-left: 5px;
    margin-right: 5px;

}

.ArticleView img {

    width: 100vw;
    height: 56vw;
    margin: 0px;

}


